<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Ratione, vitae, explicabo voluptate ipsa exercitationem nam at 
         aperiam in rerum reprehenderit provident corrupti delectus unde 
         vero, suscipit quidem dolorum id sint.</p>
</body>
</html>