<%- include("include/head.ejs") %>
<body class="container mt-5">
    <h1>Getting dice value : <%= diceValue%></h1>
    <%if(diceValue==6){ %>
        <h2 class="text-primary">Nice! Roll dice once Again</h2>
    <%}%>
</body>
</html>